.player{
  display: flex;
  align-items: center;
  background-color: rgba(156, 144, 121, 0.8);
  width: 300px;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  span{
    font-size: 32px;
    margin-left: 16px;
  }
  img{
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius: 100%;
    margin-left: 8px;
  }
}

.player-active{
  background-color: orange !important;
}