.gamefield{
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  background-image: url('/assets/board.jpg');
  display: flex;
  justify-content:center ;
  align-items: center;
}

.car-stack{
  position: relative;
  img{
    position: absolute;
    width: 120px;
  }
}

.top-card {
  cursor: pointer;
  transition: all 125ms ease-in-out;
  z-index: 10;

  &:hover {
    transform: scale(1.1) translateY(-10px);
  }
}

.played-card{
  right: 25px;
  transform: scale(1.3) translateY(-180px) translateX(120px) rotate(-10deg);
}

.pick-card {
  animation: pick-card-animation 1s ease-in-out;
  transform: scale(1.3) translateY(-180px) translateX(120px) rotate(-10deg);
}

@keyframes pick-card-animation {
  0% {
    transform: scale(1);
  }
  40% {
    transform: scale(1.7);
  }
  60% {
    transform: scale(1.7);
  }
  100% {
    transform: scale(1.3) translateY(-180px) translateX(120px) rotate(-10deg);
  }
}

.player-position{
  position:absolute;
  right: 0;
}

.btn-add{
  position: absolute;
  right: 32px;
  bottom: 32px;
}

.player-active{
  background-color: orange !important;
}

.pin-bottom{
  color: white;
  position: absolute;
  bottom: 32px;
  left: 100px;
  right: 100px;
}